@inherits LayoutComponentBase

<div class="flex min-h-screen items-center justify-center bg-surface-container-low px-4 py-12 sm:px-6 lg:px-8 font-body">
    <div class="w-full max-w-md space-y-8">
        @Body
    </div>
</div>